*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:'Inter',sans-serif;

background:linear-gradient(
180deg,
#FCFBF8,
var(--background)
);

color:var(--text);

padding:40px;

}

.main-container{

max-width:1200px;

margin:auto;

background:var(--container);

border-radius:30px;

padding:50px;

box-shadow:var(--shadow);

}

section{

margin-top:70px;

}

h2{

font-family:"Poppins";

font-size:2rem;

margin-bottom:30px;

text-align:center;

}
.hero-text .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.hero-text .logo img {
    max-width: 180px; /* Ajusta este valor según el tamaño que prefieras */
    height: auto;
    display: block;
}
